.ui.secondary.inverted.menu a.item.active:hover {
	background: rgba(255, 255, 255, .2);
}

@media only screen and (min-width: 1350px) {
	.ui.container {
		width: 1277px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
